In [1]:
import pandas as pd

In [2]:
data_startup = pd.read_csv('50_Startups.csv')

In [3]:
data_startup.sample(7)

    R&D Spend  Administration  Marketing Spend       State     Profit
4   142107.34        91391.77        366168.42     Florida  166187.94
11  100671.96        91790.61        249744.55  California  144259.40
18   91749.16       114175.79        294919.57     Florida  124266.90
37   44069.95             NaN        197029.42  California   89949.14
48     542.05        51743.15              NaN    New York   35673.41
38   20229.59        65947.93              NaN    New York   81229.06
29   65605.48       153032.06        107138.38    New York  101004.64

-------------------
Lakukan analisa mengenai field mana saja yang memiliki data kosong(Nan) lalu Isi data yang kosong tersebut menggunakan nilai mean

In [4]:
data_startup.isnull().sum()

R&D Spend          5
Administration     3
Marketing Spend    5
State              0
Profit             2
dtype: int64

In [5]:
data_startup2 = data_startup.fillna({
    "R&D Spend" : "14",
    "Administration" : "05",
    "Marketing Spend" : "2024",
    "Profit" : "201011401251"
})
data_startup2.sample(7)

   R&D Spend Administration Marketing Spend       State        Profit
48    542.05        51743.2            2024    New York       35673.4
31        14         152702         88218.2    New York  201011401251
47        14         135427            2024  California       42559.7
1     162598         151378          443899  California        191792
18   91749.2         114176          294920     Florida        124267
38   20229.6        65947.9            2024    New York       81229.1
33   55493.9         103057          214635     Florida       96778.9

--------------
buat field baru yaitu Tax. dimana Tax = (profit + Marketing Spend + administration) * 5%

In [6]:
data_startup['Tax'] = (data_startup['Profit'] + data_startup['Marketing Spend'] + data_startup['Administration']) * 0.05
print("Tax = (profit + Marketing Spend + administration) * 5% :")
print(data_startup2.sample(7))

Tax = (profit + Marketing Spend + administration) * 5% :
   R&D Spend Administration Marketing Spend       State   Profit
9     123335         108679          304982  California   149760
19   86419.7         153514            2024    New York   122777
21   78389.5         153773          299737    New York   111313
33   55493.9         103057          214635     Florida  96778.9
29   65605.5         153032          107138    New York   101005
2     153442         101146          407935     Florida   191050
30   61994.5         115641         91131.2     Florida  99937.6